<div fdbToolLayout>
  <div fdbToolLayoutContainer>
    <div fdbToolLayoutHeaderContainer>
      <app-header
        (toggleSidebar)="toggleSidebar()"
      ></app-header>
    </div>
  </div>
  <div fdbToolLayoutContainer>
    <div fdbToolLayoutNavigationContainer>
      <app-sidebar></app-sidebar>
    </div>
    <div fdbToolLayoutContentContainer>
      <app-breadcrum />
      <hr class="m-0 mb-2" />
      <ng-content />
    </div>
  </div>
  <div fd-bar barDesign="footer">
    <div fd-bar-middle>
      <app-footer></app-footer>
    </div>
  </div>
  
</div>

