<div class="app-top">
  <app-header
    (toggleTheme)="toggleTheme()"
    (toggleSidebar)="toggleSidebar()"
  ></app-header>
</div>

<div class="app-middle flex items-stretch">
  <div
    class="rounded bg-surface-50 dark:bg-surface-900 relative"
    *ngIf="isSidebarVisible"
  >
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex-1">
    <app-main>
      <ng-container ngProjectAs="main-header">
        <ng-content select="header" />
      </ng-container>

      <ng-container ngProjectAs="main-content">
        <ng-content select="content" />
      </ng-container>
      <ng-container ngProjectAs="main-footer">
        <ng-content select="footer" />
      </ng-container>
    </app-main>
  </div>
</div>

<div class="app-bottom">
  <app-footer></app-footer>
</div>
