<app-layout> 
    <ng-container ngProjectAs="header">Admin</ng-container>
    <ng-container ngProjectAs="content">

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facilis pariatur quibusdam perferendis obcaecati laboriosam consequuntur sit voluptatem fugiat et quam dolore voluptatum, consectetur, tenetur neque error exercitationem. Sapiente, veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum in eveniet. Dolorem minus harum, hic totam vitae ex. Iure molestias, illum consequuntur quo minima est eligendi quis nostrum iusto.



    </ng-container>

    <ng-container ngProjectAs="footer">Admin Footer
        
    </ng-container>


</app-layout>
