    <b><span class="text-muted-color">Forgot Password</span></b>


  <form #forgotForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-5">
      <div class="field flex flex-col gap-2">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          pSize="small"
          pInputText
          [(ngModel)]="email"
          name="email"
         
          required
          email
        />

      </div>

      <button

        label="Send Request"
        type="submit"
        size="small"
        [disabled]="forgotForm.invalid"
      ></button>

      <div class="">
        <a [routerLink]="loginPath">Login</a>
      </div>
    </div>
  </form>
