<ng-template #headerTemplate>
  <div class="flex justify-between items-center w-full">
    <span class="">Project</span>

    <div class="flex gap-2">
      <button
        type="secondary"
     
        severity="secondary"
        size="small"
        label="Back"
        [routerLink]="projectsPath"
      ></button>
      <button
        label="Save Project"
        size="small"
        [disabled]="projectForm.invalid"
        (onClick)="onSubmit($event)"
      ></button>
    </div>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <button
    label="Save Project"
    size="small"
    [disabled]="projectForm.invalid"
    (onClick)="onSubmit($event)"
    styleClass="w-full h-full"
  ></button>
</ng-template>

<form #projectForm="ngForm">
  <div class="project-form-container flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-5">
      <!-- Identifier -->
      <div class="field flex flex-col gap-2">
        <label for="identifier">Identifier</label>
        <input
          id="identifier"
          type="text"
          pSize="small"
        
          [(ngModel)]="project.identifier"
          name="identifier"
          #identifier="ngModel"
          required
        />
    
      </div>

      <!-- Name -->
      <div class="field flex flex-col gap-2">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          pSize="small"
       
          [(ngModel)]="project.name"
          name="name"
          #name="ngModel"
          required
        />

      </div>

      <!-- Description -->
      <div class="field flex flex-col gap-2 col-span-2">
        <label for="desc">Description</label>
        <textarea
          id="desc"
          rows="3"
          pSize="small"
     
          [(ngModel)]="project.desc"
          name="desc"
          #desc="ngModel"
          required
        ></textarea>
      
      </div>

      <!-- Domain -->
      <div class="field flex flex-col gap-2">
        <label for="domain">Domain</label>
        <input
          id="domain"
          type="text"
          pSize="small"
  
          [(ngModel)]="project.domain"
          name="domain"
          #domain="ngModel"
          required
        />
    
      </div>

      <!-- API Prefix -->
      <div class="field flex flex-col gap-2">
        <label for="apiPrefix">API Prefix</label>
        <input
          id="apiPrefix"
          type="text"
          pSize="small"
          pInputText
          [(ngModel)]="project.apiPrefix"
          name="apiPrefix"
          #apiPrefix="ngModel"
          required
        />
  
      </div>

      <!-- API Version -->
      <div class="field flex flex-col gap-2">
        <label for="apiVersion">API Version</label>
        <input
          id="apiVersion"
          type="text"
          pSize="small"
          
          [(ngModel)]="project.apiVersion"
          name="apiVersion"
          #apiVersion="ngModel"
          required
        />
   
      </div>

      <!-- Platform -->
      <div class="field flex flex-col gap-2">
        <label for="platform">Platform</label>
     



      </div>
    </div>
  </div>
</form>
