<ng-template #headerTemplate>
  <div fd-action-bar>
    <div fd-action-bar-header>
      <div fd-action-bar-title>{{ project ? 'Edit' : 'New' }} Project</div>
      <div fd-action-bar-actions>
        <button
          fd-button
          label="Go To Projects"
          glyph="arrow-left"
          [routerLink]="projectsPath"
          [disabled]="loading"
        ></button>
        @if (formCreated) {
          <fd-busy-indicator
            [loading]="loading"
            size="s"
            aria-labelledby="fd-busy-indicator-submit"
            title="Inline Wrapper"
          >
            <button
              fd-button
              label="{{ project ? 'Update' : 'Save' }}"
              fdType="emphasized"
              glyph="save"
              (click)="submitForm()"
              [disabled]="loading"
            ></button>
          </fd-busy-indicator>
        }
      </div>
    </div>
    <p fd-action-bar-description>
      {{ project ? 'Update' : 'Create' }} your project.
    </p>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <div fd-bar barDesign="footer">
    <div fd-bar-right>
      <fd-button-bar
        label="{{ project ? 'Update' : 'Save' }}"
        (click)="submitForm()"
        [disabled]="loading"
      >
      </fd-button-bar>
    </div>
  </div>
</ng-template>

<div class="my-4" *ngIf="errorMessage">
  <fd-message-strip [type]="'error'" [dismissible]="false">
    {{ errorMessage }}
  </fd-message-strip>
</div>

<div class="my-4" *ngIf="successMessage">
  <fd-message-strip [type]="'success'" [dismissible]="false">
    {{ successMessage }}
  </fd-message-strip>
</div>

<fdp-form-generator
  [formItems]="questions"
  (formSubmitted)="onFormSubmitted($event)"
  (formCreated)="onFormCreated()"
>
</fdp-form-generator>
