@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.poppins');
  }
}

input::placeholder {
  font-style: normal !important;
}

textarea::placeholder {
  font-style: normal !important;
}


.fd-form-group--inline {
  .fd-form-item+.fd-form-item {
    margin-top: 0;
  }
}

.fd-list--dropdown, .fd-list--multi-input {
  padding-block-start: 0 !important;
}