<ng-template #headerTemplate>
  <div fd-action-bar>
    <div fd-action-bar-header>
      <div fd-action-bar-title>Project Overview</div>
      <div fd-action-bar-actions>
        <button
          fd-button
          label="Go To Settings"
          glyph="add"
          [routerLink]="settingsPath"
          fdType="emphasized"
          fdCompact
        ></button>
      </div>
    </div>
    <p fd-action-bar-description>Project overview and connection status.</p>
  </div>
</ng-template>

<app-main [headerTemplate]="headerTemplate" [footerTemplate]="footerTemplate">
  <div class="">
    <ng-container *ngIf="project; else noproject">
      <fd-quick-view>
        <fd-quick-view-subheader>
          <fd-quick-view-subheader-title class="prose">
            {{ project.name }}
          </fd-quick-view-subheader-title>
          <fd-quick-view-subheader-subtitle class="prose">
            Identifier: <strong>{{ project.identifier }}</strong>
          </fd-quick-view-subheader-subtitle>

        </fd-quick-view-subheader>

    

        <fd-quick-view-group>
          <fd-quick-view-group-item>
            <fd-quick-view-group-item-content class="prose">
            Status: <span
              [ngClass]="{
                ' text-green-600': project.connected,
                ' text-red-600': !project.connected,
              }"
              class="prose bg-zinc-50 hover:bg-zinc-100 px-3 py-1 rounded-full text-sm font-semibold"
            >
              {{ project.connected ? 'Connected to Server' : 'Not Connected' }}
            </span>
            </fd-quick-view-group-item-content>
          </fd-quick-view-group-item>
        </fd-quick-view-group>

        <fd-quick-view-group >
   
          <fd-quick-view-group-item>
            <fd-quick-view-group-item-content class="prose">
              Server Url:
              <a [href]="project.serverUrl"
                ><strong>{{ project.serverUrl }}</strong></a
              >
            </fd-quick-view-group-item-content>
          </fd-quick-view-group-item>

          <fd-quick-view-group-item>
            <fd-quick-view-group-item-content class="prose">
              API URL : <strong>{{ getApiUrl(project) }}</strong>
            </fd-quick-view-group-item-content>
          </fd-quick-view-group-item>

          <fd-quick-view-group-item>
            <fd-quick-view-group-item-label>
              Project Description
            </fd-quick-view-group-item-label>
            <fd-quick-view-group-item-content class="prose max-w-full">
              <p>{{ project.desc }}</p>
            </fd-quick-view-group-item-content>
          </fd-quick-view-group-item>
        </fd-quick-view-group>
      </fd-quick-view>
    </ng-container>
    <ng-template #noproject>
      <h4 class="font-bold">No Project Selected</h4>
    </ng-template>
  </div>
</app-main>
