<app-layout>
  <ng-container ngProjectAs="header">
    <div class="flex justify-between items-center w-full">
      <span class="">Projects</span>
      <p-button
        type="secondary"
        [outlined]="true"
        severity="secondary"
        size="small"
        label="Add New"
        icon="pi pi-plus"
        [routerLink]="projectPath"
      />
    </div>
  </ng-container>
  <ng-container ngProjectAs="content">
    <app-table
      [data]="projects"
      [columns]="columns"
      [styleClass]="'p-datatable-lg'"
      [actions]="actions"
    />
  </ng-container>
  <ng-container ngProjectAs="footer">
    <app-paginator
      [rows]="10"
      [total]="projects.length"
      [first]="0"
      [styleClass]="'p-0 bg-transparent'"
    />
  </ng-container>
</app-layout>
