<ng-template #headerTemplate>
  <div class="flex justify-between items-center w-full">
    <span class="">Projects</span>
    <p-button
      type="secondary"
      [outlined]="true"
      severity="secondary"
      size="small"
      label="Add New"
      icon="pi pi-plus"
      [routerLink]="projectPath"
    />
  </div>
</ng-template>

<ng-template #contentTemplate>
  <p>Welcome to the dashboard. This is the main content area.</p>
</ng-template>

<ng-template #footerTemplate>
  <app-paginator
    [rows]="10"
    [total]="projects.length"
    [first]="0"
    [styleClass]="'p-0 bg-transparent'"
/></ng-template>

<app-table
  [data]="projects"
  [columns]="columns"
  [styleClass]="'p-datatable-lg'"
  [actions]="actions"
/>
