  <div class="p-fluid">
      <b><span class="text-muted-color">Register</span></b>


    <form #registerForm="ngForm" (ngSubmit)="onRegister()">
      <div class="flex flex-col gap-5">
        <div class="field flex flex-col gap-2">
          <label for="firstname">First Name</label>
          <input
            id="firstname"
            type="text"
            pSize="small"
     
            [(ngModel)]="user.firstname"
            name="firstname"
            #firstname="ngModel"
            required
            minlength="3"
          />
    
        </div>

        <div class="field flex flex-col gap-2">
          <label for="lastname">Last Name</label>
          <input
            id="lastname"
            type="text"
            pSize="small"
       
            [(ngModel)]="user.lastname"
            name="lastname"
            #lastname="ngModel"
            required
            minlength="3"
          />
       
        </div>

        <div class="field flex flex-col gap-2">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            pSize="small"
     
            [(ngModel)]="user.email"
            name="email"
            #email="ngModel"
            required
            email
          />
      
        </div>

        <div class="field flex flex-col gap-2">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            pSize="small"
      
            [(ngModel)]="user.password"
            name="password"
            #password="ngModel"
            required
            minlength="6"
          />
     
        </div>

        <div class="field flex flex-col gap-2">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            pSize="small"

            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            #confirmPasswordCtrl="ngModel"
            required
            minlength="6"
          />
   
        </div>

        <button
   
          size="small"
          label="Register"
          type="submit"
          [disabled]="registerForm.invalid"
        ></button>

        <div class="">
          <a  [routerLink]="loginPath">Already have an account? Login</a>
        </div>
      </div>
    </form>
  </div>
