<h4><strong>Register</strong></h4>

<div class="my-4" *ngIf="submitError">
  <fd-message-strip [type]="'error'" [dismissible]="false">
    {{ submitError }}
  </fd-message-strip>
</div>

<div class="my-4" *ngIf="submitSuccess">
  <fd-message-strip [type]="'success'" [dismissible]="false">
    {{ submitSuccess }}
  </fd-message-strip>
</div>

<form #registerForm="ngForm" (ngSubmit)="onRegister()" class="flex flex-col">


 

  <!-- First Name -->
  <div fd-form-item>
    <label fd-form-label for="firstname">First Name</label>
    <input
      fd-form-control
      [(ngModel)]="user.firstname"
      name="firstname"
      type="text"
  
      id="firstname"
      placeholder="Enter Your First Name"
      (ngModelChange)="validateFirstName()"
    />
    <fd-form-message *ngIf="firstnameError" [type]="'error'">{{ firstnameError }}</fd-form-message>
  </div>

  <!-- Last Name -->
  <div fd-form-item>
    <label fd-form-label for="lastname" [required]="true">Last Name</label>
    <input
      fd-form-control
      [(ngModel)]="user.lastname"
      name="lastname"
      type="text"
      [required]="true"
      id="lastname"
      placeholder="Enter Your Last Name"
      (ngModelChange)="validateLastName()"
    />
    <fd-form-message *ngIf="lastnameError" [type]="'error'">{{ lastnameError }}</fd-form-message>
  </div>

  <!-- Email -->
  <div fd-form-item>
    <label fd-form-label for="email" [required]="true">Email</label>
    <input
      fd-form-control
      [(ngModel)]="user.email"
      name="email"
      type="email"
      [required]="true"
      id="email"
      placeholder="Enter Your Email"
      (ngModelChange)="validateEmail()"
    />
    <fd-form-message *ngIf="emailError" [type]="'error'">{{ emailError }}</fd-form-message>
  </div>

  <!-- Password -->
  <div fd-form-item>
    <label fd-form-label for="password" [required]="true">Password</label>
    <input
      fd-form-control
      [(ngModel)]="user.password"
      name="password"
      type="password"
      [required]="true"
      id="password"
      placeholder="Enter Your Password"
      (ngModelChange)="validatePassword()"
    />
    <fd-form-message *ngIf="passwordError" [type]="'error'">{{ passwordError }}</fd-form-message>
  </div>

  <!-- Confirm Password -->
  <div fd-form-item>
    <label fd-form-label for="confirmPassword" [required]="true">Confirm Password</label>
    <input
      fd-form-control
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      type="password"
      [required]="true"
      id="confirmPassword"
      placeholder="Confirm Your Password"
      (ngModelChange)="validateConfirmPassword()"
    />
    <fd-form-message *ngIf="confirmPasswordError" [type]="'error'">{{ confirmPasswordError }}</fd-form-message>
  </div>

  <!-- Submit Button -->
  <div class="mt-2 text-right">
    <fd-busy-indicator
    [loading]="isSubmitting"
    size="s"
    aria-labelledby="fd-busy-indicator-submit"
    title="Inline Wrapper"
  >
    <button
      fd-button
      label="Register"
      fdType="emphasized"
      ariaLabel="Register"
      type="submit"
      [disabled]="hasErrors()"
    ></button>

    </fd-busy-indicator>
    
  </div>

  <div class="mt-5">
    <a [routerLink]="loginPath">Already have an account? Login</a>
  </div>
</form>
