<header class="mt-10">
  <nav class="text-center text-slate-900 dark:text-slate-50">
    <img
      alt="dragsense-logo"
      class="inline-block"
      style="width: 50px"
      src="images/logo/dragsense-logo.png"
    />
    <b>DragSense</b>
  </nav>
</header>

<main class="my-2">
  <div class="flex justify-evenly items-center">
    <div class="self-end">
      <img src="images/background/bg-triangles.png" alt="bg" />
    </div>

    <div class="auth-card-container">
      <div styleClass="p-2">
        <ng-template pTemplate="header"> </ng-template>

        <div class="p-fluid auth-content">
          <ng-content />
        </div>

        <ng-template pTemplate="footer">
          <div class="flex space-x-4">
            <span>Follow Us On: </span>
            <a
              *ngFor="let social of socials"
              [href]="social.url"
              target="_blank"
              [attr.aria-label]="social.label"
            >
              <i class="pi" [ngClass]="social.iconClasse + ' p-1'"></i>
            </a>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="self-start">
      <app-button (onClick)="onToggleTheme()">
        Toggle Theme
        <i class="pi" [ngClass]="isDarkMode ? 'pi-sun' : 'pi-moon'"></i>
      </app-button>
      <div class="bg-triangle-rotated">
        <img src="images/background/bg-triangles.png" alt="bg" />
      </div>
    </div>
  </div>
</main>

<footer class="mb-10">
  <p class="text-center text-xs text-gray-500">
    <span>&copy; 2025 DragSense. All Rights Reserved. </span>
  </p>
</footer>
