:host ::ng-deep {
.p-panel {
    .p-panel-header, .p-panel-content, .p-panel-footer {
        padding: 0;
    }

    .p-panel-header, .p-panel-content {
        margin-bottom: 0.5rem;
        border: none;
    }
}

.main-content {
    border-radius: var(--p-content-border-radius);
    border: 1px solid var(--p-content-border-color);
}

.ql-snow .ql-tooltip {
    left: 10px !important;
  }
  

}
