<main class="app-main h-full">
  <div class="px-4 flex flex-col items-center h-full">
    <div class="pb-2 w-full" *ngIf="headerTemplate">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </div>

    <div
      class="p-4 flex-1 w-full rounded bg-surface-50 dark:bg-surface-900 overflow-auto"
    >
      <ng-content />
    </div>

    <div class="pt-2 w-full" *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
  </div>
</main>
