<nav class="app-navbar">
  <app-menu>
    <div
      ngProjectAs="nav-start"
      class="app-logo"
    >
      <img
        alt="dragsense-logo"
        class="inline-block"
        style="width: 50px"
        src="images/logo/dragsense-logo.png"
      />
      <b class="">DragSense</b>
    </div>

    <div ngProjectAs="nav-end">
      <div class="flex items-center space-x-4">
        <button
          size="small"
     
          aria-label="Switch Theme"
          (click)="onToggleTheme()"
          severity="secondary"
        ></button>

        <div class="card flex justify-center">
          <button
            icon="pi pi-user"
            size="small"
          ></button>
        </div>
      </div>
    </div>
  </app-menu>
</nav>
