<fdb-tool-header
  id="dragsense-toolbar"
  productName="DragSense"
  secondTitle="CMS"
  showMenuButton
  (menuClick)="toggleMenu()"
>
  <img
    alt="DragSense Logo"
    src="images/logo/dragsense-logo.png"
    fdbToolHeaderLogo
  />
  @for (action of actions; track action; let index = $index) {
    <ng-template
      fdbToolHeaderAction
      [forceVisibility]="action.forceVisibility"
      let-isInNavigationMenu="hidden"
    >
      @if (!isInNavigationMenu) {
        <button
          fd-button
          fdbToolHeaderActionButton
          [glyph]="action.glyph"
          [label]="action.label"
          (click)="action.clickCallback()"
        >
          @if (action.hasBadge) {
            <fd-button-badge />
          }
        </button>
      } @else {
        <fdb-navigation-menu-item
          (fdkClicked)="action.clickCallback()"
          [glyph]="action.glyph"
          [label]="action.label"
        />
      }
    </ng-template>
  }

  <fd-avatar
    fdbToolHeaderUser
    [fdMenuTrigger]="userMenu"
    role="button"
    [circle]="true"
    glyph="user ? account : null"
    [label]="user?.lastname"
    size="xs"
    [clickable]="true"
  ></fd-avatar>
  <fd-menu #userMenu>
    <li class="p-2">
      <h6>
        Hello, <strong>{{ user?.lastname }}</strong>
      </h6>
    </li>
    <li fd-menu-item>
      <a fd-menu-interactive (click)="signOut()">
        <fd-menu-addon glyph="system-exit-2"></fd-menu-addon>
        <span fd-menu-title> Log out </span>
      </a>
    </li>
  </fd-menu>

  <fdb-tool-header-product-switch>
    <app-menu />
  </fdb-tool-header-product-switch>
</fdb-tool-header>

<ng-template
  [fdDialogTemplate]
  let-dialog
  let-dialogConfig="dialogConfig"
  #confirmationDialog
>
  <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
    <fd-dialog-body>

      <app-profile [dialog]="dialog"/>

    </fd-dialog-body>
  </fd-dialog>
</ng-template>
