<auth-layout>
<!--   <diV class="flex gap-10 my-5">
    <diV class="flex flex-col gap-10 my-5">
      <app-message [showIcon]="true" type="error" [closable]="true"> Hello And Welcome </app-message>

      <app-message variant="borderless" [showIcon]="true" type="error" [closable]="true"> Hello And Welcome </app-message>

      <app-message variant="filled" [showIcon]="true" type="error" iconType="outlined"> Hello And Welcome </app-message>

      <app-message variant="outlined" [showIcon]="true" type="error" [closable]="true" [fullWidth]="true"> Hello And Welcome </app-message>

      <app-message size="lg" variant="borderless" type="error" [closable]="true">
        Hello

      </app-message>


      <app-message size="lg" variant="borderless" [showIcon]="true" [closable]="true" type="error">
        Hello And Welcome
      </app-message>

     
    </diV>

    <diV class="flex flex-col gap-10 my-5">
      <app-message variant="filled" rounded="none"> Hello And Welcome </app-message>

      <app-message variant="filled" rounded="sm"> Hello And Welcome </app-message>

      <app-message variant="filled" rounded="lg"> Hello And Welcome </app-message>

      <app-message variant="filled" rounded="full"> Hello And Welcome </app-message>

      
    </diV>
  </diV> -->

     <diV class="flex gap-10 my-5">
    <diV class="flex flex-col gap-5">
      <app-input label="Simple Input" variant="text" />

      <app-input label="Outlined Input" variant="outlined" />

      <app-input
        label="Vertical Layout Input"
        variant="outlined"
        layout="vertical"
      />

      <app-input
        label="Large Size Input"
        variant="outlined"
        size="lg"
        layout="vertical"
      />

      <app-input
        label="Small Size Input"
        variant="outlined"
        size="sm"
        layout="vertical"
      />

      <app-input
        label="Rounded Small Input"
        variant="text"
        rounded="sm"
        layout="vertical"
      />

      <app-input
        label="Rounded Large Input"
        variant="text"
        rounded="lg"
        layout="vertical"
      />

      <app-input
      label="Rounded Full Input"
      variant="outlined"
      layout="vertical"
      rounded="full"
    />

      <app-input
        label="Rounded None Input"
        variant="text"
        rounded="none"
        layout="vertical"
      />
    </diV>

    <diV class="flex flex-col gap-5">
      <app-input placeholder="Without Label" variant="text" />

      <app-input
        label="Number Input"
        variant="outlined"
        layout="vertical"
        type="number"
        placeholder="Enter Some Number"
      />

      <app-input
        label="Email Input"
        variant="outlined"
        layout="vertical"
        type="email"
        placeholder="Enter Email"
      />

      <app-input
        label="Colored Input"
        variant="outlined"
        color="ds-primary"
        iconClass="fa fa-envelope"
        layout="vertical"
      />


      <app-input
        label="Focus Ring Color Input"
        variant="outlined"
        ringColor="ds-primary"
        layout="vertical"
      />

      <app-input
        label="Error Input"
        variant="outlined"
        size="sm"
        layout="vertical"
        [required]="true"
      />

      <app-input
        label="Custom Style Input"
        variant="text"
        size="sm"
        layout="vertical"
        className="border-b !border-ds-primary"
      />

      <app-input
        label="Custom Label Style Input"
        variant="text"
        size="sm"
        layout="vertical"
        labelClass="font-bold"
      />

      <app-input
        label="Icon Input"
        variant="text"
        size="sm"
        iconType="phone"
        layout="vertical"
      />
    </diV>
  </diV>

  <app-input
    label="Full Width Input"
    variant="outlined"
    [fullWidth]="true"
    layout="vertical"
    [required]="true"
 
  /> 

  <!-- <div class="flex gap-4 justify-evenly mt-5 mb-10">
    <div class="flex flex-col gap-10">
      <app-button variant="filled" [disabled]="true" size="sm">
        Primary Filled
      </app-button>

      <app-button variant="filled" size="sm" color="ds-secondary">
        Secondary Filled
      </app-button>

      <app-button variant="filled" size="sm" color="red" [colorVariant]="500">
        Red Filled
      </app-button>

      <app-button variant="filled" color="green" size="sm" [colorVariant]="500">
        Green Button
      </app-button>

      <app-button variant="outlined" color="zinc" size="sm">
        Outlined
      </app-button>

      <app-button
        variant="outlined"
        color="zinc"
        size="sm"
        borderStyle="dashed"
      >
        Dashed Border
      </app-button>

      <app-button
        variant="text"
        color="ds-secondary"
        size="sm"
        borderStyle="dashed"
      >
        Text Button
      </app-button>

      <app-button
        variant="outlined"
        color="ds-secondary"
        size="sm"
        rounded="lg"
        borderStyle="dashed"
      >
        Rounded Large
      </app-button>

      <app-button
        variant="outlined"
        rounded="sm"
        size="sm"
        borderStyle="dashed"
      >
        Rounded Small
      </app-button>
    </div>

    <div class="flex flex-col gap-10">
      <app-button variant="filled" size="lg"> Large Button </app-button>
      <app-button variant="filled" size="md"> Medium Button </app-button>
      <app-button variant="filled" size="sm"> Small Button </app-button>

      <app-button variant="filled" rounded="full"> Pill Button </app-button>

      <app-button variant="filled" [colorVariant]="300">
        Color Varaint Low
      </app-button>

      <app-button variant="filled" [colorVariant]="800">
        Color Varaint High
      </app-button>

      <app-button variant="text" className="border-b">
        Custom Button
      </app-button>

      <app-button
        variant="text"
        color="zinc"
        className="font-thin border-l border-r"
      >
        Custom Button
      </app-button>
    </div>
  </div>

  <app-button
    variant="filled"
    [colorVariant]="600"
    [fullWidth]="true"
    size="lg"
    rounded="full"
  >
    Full Width Button
  </app-button>  -->
</auth-layout>
