<header class="app-header">
  <app-nav
    [isDarkMode]="isDarkMode"
    [onToggleTheme]="onToggleTheme.bind(this)"
  ></app-nav>

  <div class="flex items-center">
    <div class="project-menu-header py-2 flex items-center">
      <button
        size="small"
        aria-label="Toggle Sidebar"
        (onClick)="onToggleSidebar()"
        styleClass="text-xl mr-2"
      ></button>

      <button
        size="small"
        aria-label="Select Project"
        (onClick)="onPopoverOpen($event)"
        styleClass="flex items-center w-full"
        class="flex-1"
      >
    
          <span class="flex items-center">
            <strong class="text-bold">{{ selectedProject?.name || 'Select Project' }}</strong>
            <span
              *ngIf="selectedProject"
              [ngClass]="{
                'bg-green-500': selectedProject?.connected,
                'bg-red-500': !selectedProject?.connected,
              }"
              class="ml-2 w-2 h-2 rounded-full"
            ></span>
          </span>
     
      </button>

   
        <app-table
          [data]="projects"
          [columns]="columns"
          [styleClass]="'p-datatable-lg'"
          (selectionChange)="onSelectProject($event)"
          [selectedMode]="'single'"
        />
     
    </div>

    <div class="flex-1 pl-4">
      <app-breadcrum />
    </div>
  </div>
</header>
