<p-menubar styleClass="border-none w-100" [model]="items">
  <ng-template #start>
    <ng-content select="nav-start"></ng-content>
  </ng-template>
  <ng-template #item let-item>
    <a [routerLink]="item.route" class="p-menubar-item-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </a>
  </ng-template>

  <ng-template #end>
    <ng-content select="nav-end"></ng-content>
  </ng-template>
</p-menubar>
<ng-content select="nav-divider"></ng-content>
