<div *ngIf="open" [class]="classes">
  <div
    class="flex items-center"
    [class]="gapClass"
  >
    <ng-container *ngIf="showIcon">
      <div [class]="iconClasses" [innerHTML]="icon | safeHtml"></div>
    </ng-container>

    <ng-container *ngTemplateOutlet="textTemplate"></ng-container>
  </div>

  <ng-template #textTemplate>
    <div class="flex-1">
      <ng-content />
    </div>
    <button
      *ngIf="closable"
      (click)="handleClose()"
      [innerHTML]="closeIcon | safeHtml"
    ></button>
  </ng-template>
</div>
