<div class="social-login mt-4 flex flex-col gap-2">
  <button
    size="small"
    label="Login with Google"
    icon="pi pi-google"
    class="google-login-btn"
  ></button>
  <button
    size="small"
    label="Login with GitHub"
    icon="pi pi-github"
    class="github-login-btn"
  ></button>
</div>

<b><span class="text-muted-color">Or Login</span></b>
>

<form #loginForm="ngForm" (ngSubmit)="onLogin()">
  <div class="flex flex-col gap-5">
    <div class="field flex flex-col gap-2">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        pSize="small"
        [(ngModel)]="email"
        name="email"
        #emailCtrl="ngModel"
        required
        email
      />
    </div>

    <div class="field flex flex-col gap-2">
      <label for="password" class="border-gray-100 hover:bg-gray-200 border-dashed"
        >Password</label
      >
      <input
        id="password"
        type="password"
        pSize="small"
        [(ngModel)]="password"
        name="password"
        #passwordCtrl="ngModel"
        required
        minlength="6"
      />
      <a [routerLink]="forgotPath">Forgot Password?</a>
    </div>
   


    <button
      label="Login"
      type="submit"
      size="small"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
      [routerLink]="adminPath"
    ></button>

    <div class="">
      <a [routerLink]="registerPath">Create an Account.</a>
    </div>
  </div>
</form>
