<div class="social-login mt-4 flex flex-col gap-2">
  <button
    pButton
    size="small"
    label="Login with Google"
    icon="pi pi-google"
    class="google-login-btn"
  ></button>
  <button
    pButton
    size="small"
    label="Login with GitHub"
    icon="pi pi-github"
    class="github-login-btn"
  ></button>
</div>

<p-divider align="center" type="dotted">
  <b><span class="text-muted-color">Or Login</span></b>
</p-divider>

<form #loginForm="ngForm" (ngSubmit)="onLogin()">
  <div class="flex flex-col gap-5">
    <div class="field flex flex-col gap-2">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        pSize="small"
        pInputText
        [(ngModel)]="email"
        name="email"
        #emailCtrl="ngModel"
        required
        email
      />
      <p-message
        *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
        severity="error"
        variant="simple"
        size="small"
        text="Valid email is required."
      ></p-message>
    </div>

    <div class="field flex flex-col gap-2">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        pSize="small"
        pInputText
        [(ngModel)]="password"
        name="password"
        #passwordCtrl="ngModel"
        required
        minlength="6"
      />
      <a [routerLink]="forgotPath">Forgot Password?</a>
      <p-message
        *ngIf="
          passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)
        "
        severity="error"
        variant="simple"
        size="small"
        text="Password is required (minimum 6 characters)."
      ></p-message>
    </div>

    <p-button
      label="Login"
      type="submit"
      size="small"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
      [routerLink]="adminPath"
    />

    <div class="">
      <a [routerLink]="registerPath">Create an Account.</a>
    </div>
  </div>
</form>
