<div class="social-login my-4 flex flex-col gap-2">
<!--   <button
    class="google-login-btn flex justify-center gap-1 items-center py-1 rounded-lg"
  >
    <span role="img" aria-label="google-circle" style="display: inline-block">
      <svg
        viewBox="64 64 896 896"
        focusable="false"
        data-icon="google-circle"
        width="1.2em"
        height="1.2em"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm167 633.6C638.4 735 583 757 516.9 757c-95.7 0-178.5-54.9-218.8-134.9C281.5 589 272 551.6 272 512s9.5-77 26.1-110.1c40.3-80.1 123.1-135 218.8-135 66 0 121.4 24.3 163.9 63.8L610.6 401c-25.4-24.3-57.7-36.6-93.6-36.6-63.8 0-117.8 43.1-137.1 101-4.9 14.7-7.7 30.4-7.7 46.6s2.8 31.9 7.7 46.6c19.3 57.9 73.3 101 137 101 33 0 61-8.7 82.9-23.4 26-17.4 43.2-43.3 48.9-74H516.9v-94.8h230.7c2.9 16.1 4.4 32.8 4.4 50.1 0 74.7-26.7 137.4-73 180.1z"
        ></path>
      </svg>
    </span>

    Login with Google
  </button> -->
  <button
  (click)="onGitHubLogin()"
    class="github-login-btn flex justify-center gap-1 items-center py-1 rounded-lg"
  >
    <span role="img" aria-label="github" style="display: inline-block"
      ><svg
        viewBox="64 64 896 896"
        focusable="false"
        data-icon="github"
        width="1.2em"
        height="1.2em"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0138.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"
        ></path>
      </svg>
    </span>

    Login with GitHub
  </button>
</div>

<h4><strong>Or Login</strong></h4>

<div class="my-4" *ngIf="submitError">
  <fd-message-strip [type]="'error'" [dismissible]="false">
    {{ submitError }}
  </fd-message-strip>
</div>

<div class="my-4" *ngIf="submitSuccess">
  <fd-message-strip [type]="'success'" [dismissible]="false">
    {{ submitSuccess }}
  </fd-message-strip>
</div>

<form
  #loginForm="ngForm"
  (ngSubmit)="onLogin()"
  id="login-form"
  class="flex flex-col"
>
  <div fd-form-item>
    <label fd-form-label [required]="true" for="email">Email</label>
    <fd-input-group
      [(ngModel)]="email"
      name="email"
      id="email"
      [required]="true"
      glyph="email"
      glyphAriaLabel="Email"
      placeholder="Enter Your Email"
      [state]="emailState"
      (ngModelChange)="validateEmail()"
    ></fd-input-group>
    <fd-form-message *ngIf="emailError" [type]="'error'">{{
      emailError
    }}</fd-form-message>
  </div>

  <div fd-form-item>
    <label fd-form-label [required]="true" for="password">Password</label>
    <fd-input-group
      [(ngModel)]="password"
      name="password"
      id="password"
      [required]="true"
      glyph="locked"
      glyphAriaLabel="Password"
      placeholder="Enter Your Password"
      type="password"
      [state]="passwordState"
      (ngModelChange)="validatePassword()"
    ></fd-input-group>
    <fd-form-message *ngIf="passwordError" [type]="'error'">{{
      passwordError
    }}</fd-form-message>

    <a [routerLink]="forgotPath">Fortgot password?</a>
  </div>

  <div class="text-right">
    <fd-busy-indicator
      [loading]="isSubmitting"
      size="s"
      aria-labelledby="fd-busy-indicator-submit"
      title="Inline Wrapper"
    >
      <button
        fd-button
        label="Login"
        fdType="emphasized"
        [disabled]="hasErrors()"
        type="submit"
      ></button>
    </fd-busy-indicator>
  </div>

  <div class="mt-5">
    <a [routerLink]="registerPath">Create an Account</a>
  </div>
</form>
