  <div class="p-fluid">
    <p-divider align="center" type="dotted">
      <b><span class="text-muted-color">Reset Password</span></b>
    </p-divider>

    <form #resetForm="ngForm" (ngSubmit)="onReset()">
      <div class="flex flex-col gap-5">
        <div class="field flex flex-col gap-2">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            pSize="small"
            pInputText
            [(ngModel)]="password"
            name="password"
            #passwordCtrl="ngModel"
            required
            minlength="6"
          />
          <p-message
            *ngIf="
              passwordCtrl.invalid &&
              (passwordCtrl.dirty || passwordCtrl.touched)
            "
            severity="error"
            variant="simple"
            size="small"
            text="Password is required (minimum 6 characters)."
          ></p-message>
        </div>

        <div class="field flex flex-col gap-2">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            pSize="small"
            pInputText
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            #confirmPasswordCtrl="ngModel"
            required
            minlength="6"
          />
          <p-message
            *ngIf="
              (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched) &&
              confirmPassword !== password
            "
            severity="error"
            variant="simple"
            size="small"
            text="Passwords do not match."
          ></p-message>
        </div>

        <button
          pButton
          size="small"
          label="Reset"
          type="submit"
          [disabled]="resetForm.invalid"
        ></button>

        <div class="">
          <a  [routerLink]="loginPath">Login</a>
        </div>
      </div>
    </form>
  </div>
