  <div class="p-fluid">
      <b><span class="text-muted-color">Reset Password</span></b>
   

    <form #resetForm="ngForm" (ngSubmit)="onReset()">
      <div class="flex flex-col gap-5">
        <div class="field flex flex-col gap-2">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            pSize="small"
            [(ngModel)]="password"
            name="password"
            #passwordCtrl="ngModel"
            required
            minlength="6"
          />
       
        </div>

        <div class="field flex flex-col gap-2">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            pSize="small"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            #confirmPasswordCtrl="ngModel"
            required
            minlength="6"
          />
      
        </div>

        <button
      
          size="small"
          label="Reset"
          type="submit"
          [disabled]="resetForm.invalid"
        ></button>

        <div class="">
          <a  [routerLink]="loginPath">Login</a>
        </div>
      </div>
    </form>
  </div>
