<ng-template #headerTemplate>
  <div fd-action-bar>
    <div fd-action-bar-header>
      <div fd-action-bar-title>Teams</div>
      <div fd-action-bar-actions>

    

        <button
          fd-button
          label="Add Team"
          glyph="add"
          fdType="emphasized"
          [routerLink]="singlePath"
        ></button>

      </div>
    </div>
    <p fd-action-bar-description>Manage your teams easily.</p>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <div fd-bar barDesign="footer">
    <div fd-bar-right>
      <app-paginator />
    </div>
  </div>
</ng-template>



<div class="my-4" *ngIf="errorMessage">
  <fd-message-strip [type]="'error'" [dismissible]="false">
    {{ errorMessage }}
  </fd-message-strip>
</div>


<app-table
  [data]="teams"
  [columns]="columns"
  [actions]="actions"
  [loading]="loading"
></app-table>
