<ng-template #headerTemplate>
  <div class="flex justify-between items-center w-full">
    <span class="">Page</span>

    <div class="flex gap-2">
      <p-button
        type="secondary"
        [outlined]="true"
        severity="secondary"
        size="small"
        label="Back"
        [routerLink]="pagesPath"
      />
      <p-button
        label="Save Page"
        size="small"
        [disabled]="pageForm.invalid"
        (onClick)="onSubmit($event)"
      />
    </div>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <p-button
    label="Save Page"
    size="small"
    [disabled]="pageForm.invalid"
    (onClick)="onSubmit($event)"
    styleClass="w-full h-full"
  />
</ng-template>

<form #pageForm="ngForm">
  <div class="page-form-container flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-5">
      <!-- Slug -->
      <div class="field flex flex-col gap-2">
        <label for="slug">Slug</label>
        <input
          id="slug"
          type="text"
          pSize="small"
          pInputText
          [(ngModel)]="page.slug"
          name="slug"
          #slug="ngModel"
          required
        />
        <p-message
          *ngIf="slug.invalid && (slug.dirty || slug.touched)"
          severity="error"
          variant="simple"
          size="small"
          text="Slug is required."
        ></p-message>
      </div>

      <!-- Name -->
      <div class="field flex flex-col gap-2">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          pSize="small"
          pInputText
          [(ngModel)]="page.name"
          name="name"
          #name="ngModel"
          required
        />
        <p-message
          *ngIf="name.invalid && (name.dirty || name.touched)"
          severity="error"
          variant="simple"
          size="small"
          text="Name is required."
        ></p-message>
      </div>
    </div>
  </div>
</form>
