<ng-template #headerTemplate>
  <div class="flex justify-between items-center w-full">
    <span class="">Page</span>

    <div class="flex gap-2">
      <pbutton
        type="secondary"
        severity="secondary"
        size="small"
        label="Back"
        [routerLink]="pagesPath"
      ></pbutton>
      <button
        label="Save Page"
        size="small"
        (onClick)="onSubmit($event)"
      ></button>
    </div>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <button
    label="Save Page"
    size="small"
    (onClick)="onSubmit($event)"
    styleClass="w-full h-full"
  ></button>
</ng-template>

<form #pageForm="ngForm">
  <div class="page-form-container flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-5">
      <!-- Slug -->
      <div class="field flex flex-col gap-2">
        <label for="slug">Slug</label>
        <input
          id="slug"
          type="text"
          pSize="small"
          [(ngModel)]="page.slug"
          name="slug"
          #slug="ngModel"
          required
        />
 
      </div>

      <!-- Name -->
      <div class="field flex flex-col gap-2">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          pSize="small"
          pInputText
          [(ngModel)]="page.name"
          name="name"
          #name="ngModel"
          required
        />
    
      </div>
    </div>

    <div class="field flex flex-col gap-2">
      <label for="name">Content</label>
      <p-editor [(ngModel)]="page.content" [style]="{ minHeight: '320px' }" />
    </div>
  </div>
</form>
